{% extends 'site_base.html' %}
{% load staticfiles %}
{% block body %}

<div id="whole">
<!-- picture wall -->
<div id="wall">
	<img src="{% static "img/wall2.jpg" %}" alt="Wall image" width="100%" height="100%"><opaque></opaque>
	<worktitle><span>Wizpace designer</span>
	</worktitle>
	<profileimg><span>
		<img src="{% static "img/person.png" %}" alt="Profile image" width="150" height="150" style="margin-bottom: 5px; border-radius:2px">
	</span></profileimg>
	<choice></choice>
	<span class="username">{{ user.first_name }} {{ user.last_name }}</span>
	<like><img src="{% static "img/heart-icon.png" %}" alt="like" width="30" height="25"><span>Like this user!</span>
	</like>
<!-- Left bar with stats -->
	<div class="left_bar">
		<div id="stats">
			<img src="{% static "img/heart-icon.png" %}" alt="likes" width="30" height="25"><stat1><likes style="color:#33CCCC;font-size:20px;font-family:Helvetica">2{{ user.likes }} </likes> likes</stat1><br></br>
		<img src="{% static "img/view.png" %}" alt="view" width="30" height="25"><stat2><views style="color:#33CCCC;font-size:20px;font-family:Helvetica">10{{ user.views }} </views> views</stat2>
		</div>
	</div>
<!-- right side bar with personal information -->
	<div class="right_bar">
		<div class="countryflag" style="float:left; margin: 10px 30px 20px 0px;">
			<img src="{% static "img/swe.png" %}" alt="flag" width="35" height="25"><country> Stockholm, Sweden</country>
		</div><br></br>

		<email>Email 	</email><br></br>
		<telno>Telephone 	</telno><br></br>
		<language>Language 	</language><br></br>
	</div>

	{% block content %}
	{% endblock %}
<!-- left side bar with choices -->
	<div id="choices">
			<span class="choice1"><a href="{{ user.worker_profile.get_absolute_url }}">Overview</a></span><br></br>
			<span class="choice2"><a href="{{ user.worker_profile.get_portfolio_url }}">Portfolio</a></span><br></br>
			<span class="choice3"><a href="{{ user.worker_profile.get_experience_url }}">Experience</a></span>
	</div>
</div>
</div>

{% endblock %}
